<web-app>
    <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.hotel.controller.RegisterServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
</servlet-mapping>


    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.hotel.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>com.hotel.controller.BookingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/BookingServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FinalServlet</servlet-name>
        <servlet-class>com.hotel.controller.FinalServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FinalServlet</servlet-name>
        <url-pattern>/FinalServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AddHotelServlet</servlet-name>
        <servlet-class>com.hotel.admin.AddHotelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddHotelServlet</servlet-name>
        <url-pattern>/AddHotelServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewHotelsServlet</servlet-name>
        <servlet-class>com.hotel.admin.ViewHotelsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewHotelsServlet</servlet-name>
        <url-pattern>/ViewHotelsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteHotelServlet</servlet-name>
        <servlet-class>com.hotel.admin.DeleteHotelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteHotelServlet</servlet-name>
        <url-pattern>/DeleteHotelServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewBookingsServlet</servlet-name>
        <servlet-class>com.hotel.admin.ViewBookingsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewBookingsServlet</servlet-name>
        <url-pattern>/ViewBookingsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteBookingServlet</servlet-name>
        <servlet-class>com.hotel.admin.DeleteBookingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteBookingServlet</servlet-name>
        <url-pattern>/DeleteBookingServlet</url-pattern>
    </servlet-mapping>
    
     <!-- EditHotelServlet -->
    <servlet>
        <servlet-name>EditHotelServlet</servlet-name>
        <servlet-class>com.hotel.controller.EditHotelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditHotelServlet</servlet-name>
        <url-pattern>/EditHotelServlet</url-pattern>
    </servlet-mapping>
   
</web-app>
